//manifesto themes

//oldSanta
.oldSanta {
	p {
		text-transform: uppercase;
	}
	p:nth-child(2n+1) {
		font-family: 'Jacques Francois Shadow', cursive;
		font-weight: 400;
	}
	p:nth-child(2n+2) {
		font-family: 'Playfair Display', serif;
		font-weight: 400;
	}
}